html {
  background-color: #c9b5ab;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

a:link {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
}

.days {
  font-size: 1.125rem;
}

p {
  color: #222;
  font-size: 0.8rem;
  font-weight: normal;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > cite {
  font-size: 0.8rem;
}
