html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  text-decoration: none;
}

a:link {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

.days {
  font-size: 1.125rem;
}

p {
  color: #222;
  font-size: .8rem;
  font-weight: normal;
}

blockquote {
  font-size: 1.125rem;
  font-style: italic;
}

blockquote > cite {
  font-size: .8rem;
}

h2 + ol > li {
  color: #222;
  font-size: .8rem;
  list-style-type: lower-greek;
}

dl > dt {
  color: #222;
  font-size: .8rem;
}

dl > dd {
  color: #222;
  font-size: .8rem;
  font-weight: normal;
}

ul > li {
  color: #222;
  font-size: .8rem;
  list-style-type: circle;
}
